If:
  PathMatch: /src/*

CompileFlags:
  Remove: [-fdeps-format=p1689r5,-fmodule-mapper* ,-fmodules-ts,-mno-direct-extern-access, -fconserve-stack, -fno-allow-store-data-races, -mfunction-return=thunk-extern, -mindirect-branch-cs-prefix, -mindirect-branch-register, -mindirect-branch=thunk-extern, -mskip-rax-setup, -mpreferred-stack-boundary=3, -mno-fp-ret-in-387]
  Add : [-I/home/fu/M-VSLAM/ros/install/slam/include/slam]
  CompilationDatabase: /build/

---

If:
  PathMatch: /ros/*

CompileFlags:
  Remove: [-fdeps-format=p1689r5,-fmodule-mapper* ,-fmodules-ts,-mno-direct-extern-access, -fconserve-stack, -fno-allow-store-data-races, -mfunction-return=thunk-extern, -mindirect-branch-cs-prefix, -mindirect-branch-register, -mindirect-branch=thunk-extern, -mskip-rax-setup, -mpreferred-stack-boundary=3, -mno-fp-ret-in-387]
  Add : [-I/home/fu/M-VSLAM/ros/install/slam/include/slam]
  CompilationDatabase: /ros/build/